* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: crimson;
  font-family: sans-serif;
}
.accordion {
  width: 60%;
  margin: 3vw auto;
}
.accordion li {
  background-color: white;
  list-style: none;
  margin-bottom: 1vw;
  padding: 1.4vw;
  width: 100%;
}
.accordion li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3vw;
  font-weight: 700;
  padding: 1vw;
  color: dodgerblue;
  cursor: pointer;
}
.accordion label + input[type="radio"] {
  display: none;
}
.accordion li label span {
  transform: rotate(90deg);
  font-size: 1.5vw;
}
.accordion .content {
  padding: 0 1vw;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}
.accordion label + input[type="radio"]:checked + .content {
  max-height: 400px;
  transition: max-height 0.5s ease-in;
}
