* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.main {
    width: 100%;
    height: 100%;
    background-color: hsl(340, 6%, 46%);
    display: flex;

}
.part1 {
    width: 26%;
    height: 100%;
    

}
.part2 {
    width: 60%;
    height: 100%;
   
    background-image: url(https://images.unsplash.com/photo-1554652297-6e7a24cf8fde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2041&q=80);
    background-size: cover;
    background-position: center;

}
.overlay {
    width: 100%;
    height: 100%;
    background-color:hsla(330, 2%, 36%, 0.342) ;
}
.part3 {
    width: 7%;
    height: 100%;
   

}
.text {
   
    
    width: 400px;
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translate(0,-50%);
}
.text h1 {
    font-size: 75px;
    line-height: 10px;
    font-family: 'Monument Extended', sans-serif;                                              
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    letter-spacing: 2px;
}
.small-img {
    
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
    background-image:url(https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
}
.overlay2 {
    width: 100%;
    height: 100%;
    background-color:hsla(330, 14%, 68%, 0.099) ;
}
.vertical-txt {
    width: 100%;
    position: absolute;
    transform: rotate(90deg);
    right: -100%;
    top: -7%;
    transform-origin: 0% 0%;

}
.vertical-txt h1 {
    font-family: 'Monument Extended', sans-serif;
   font-size: 70px;
   font-weight: 900;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: white;
   color: transparent;
   letter-spacing: 10px;
   text-transform: uppercase;
   
   
}
.nav {
   
    position: absolute;
    width: 391px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 6%;
    top: 5%;
    
}
.nav img{
    height: 60px;
}
.nav h5 {
    font-size: 8px;
    color: white;
    font-family: 'Monument Extended', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}