body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
label {
  width: 500px;
  height: 200px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(225, 225, 225, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
label::after {
  content: "";
  position: absolute;
  height: 180px;
  width: 180px;
  top: 10px;
  left: 10px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  transition: 0.3s;
}
input {
  visibility: hidden;
}
input:checked + label {
  background: #242424;
}
input:checked + label::after {
  left: 490px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
label:active:after {
  width: 260px;
}
