* {
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    min-height: 100vh;
}

.top {
    width: 100%;
    min-height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1513147122760-ad1d5bf68cdb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2060&q=800);
    background-size: cover;
    background-position: 50% 30%;
    position: relative;
}

.overlay {
    width: 100%;
    min-height: inherit;
    background-color: rgba(250, 235, 215, 0.29);
       
}

.text {
    position: absolute;
    width: 100%;
    padding: 0 10vw;
    display: flex;
    bottom: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   color: rgba(255, 255, 255, 0.788);
       
}

.text-right {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
   
}

.text-right p {
    font-size: 13px;
    width: 30%;
    font-weight: 200;
   
}
.text h1 {
    font-size: 6vw;
    font-weight: 500;
    padding: 0 1vw;
     
}

.icon {
    display: flex;
    justify-content: space-between;
    width: 10%;
    
}
.bottom {
    width: 100%;
    min-height: 40vh;  
    display: flex;
}

.b1 {
    width: 25%;
    min-height: inherit;
    background-color: #b8c1ec;
    padding: 30px;
    color: white;
    
}

.b1 p {
    font-size: 14px;
    margin-top: 20px;
}
.b2 {
    width: 25%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1519852476561-ec618b0183ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2056&q=80);
    background-size: cover;
}
.b3 {
    width: 20%;
    min-height: inherit;
      
}

.b3-top {
width: 100%;
min-height: 20vh;
padding: 20px;
background-color: rgba(172, 148, 172, 0.864);
color: white;
}

.b3-top p {
    font-size: 14px;
    margin-top: 10px;
    width: 90%;
    flex-direction: column;
}

.b3-bottom {
width: 100%;
min-height: 20vh;
background-image: url(https://images.unsplash.com/photo-1633286715764-b151e547ec76?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80);
background-size: cover;
}

.b4 {
    width: 30%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.789);
    color: white;
    padding: 30px;    
    
}

.notf {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
      
}

.notf .pic {
    width: 40px;
    height: 40px;
    background-color: #2cb67d;
    border-radius: 50%;
}

.notf p {
    width: 86%;
    font-size: 14px;
}

@media(max-width: 500px){
    .overlay .text {
        flex-direction: column;
        align-items: flex-start;
    }
    .overlay .text .text-right {
        flex-direction: column;
        align-items: flex-start;
    }
    .overlay .text .text-right p{
       width: initial;
       margin-top: 20px;
    }
    .overlay .text .text-right .icon {
        margin-top: 30px;
        width: 40%;
    }
    .text h1 {
        font-size: 7vh;
    }
    .bottom {
        flex-direction: column;
        min-height: 20vh;
    }
    .b1 {
        width: 100%;
    }
    .b2 {
        width: 100%;
        min-height: 40vh;
    }
    .b3 {
        width: 100%;
        flex-direction: column;
    }
    .b4 {
        width: 100%;
    }
    .icon {
        min-width: 7vh;
    }
}

