* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.circle {
  height: 15px;
  width: 15px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
  z-index: 99999;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  position: relative;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5vw;
  font-weight: bold;
}
